
data_wrangling_pandas/cast.csv
xgboost/.ipynb_checkpoints/XGBoost_Implementation-checkpoint.ipynb
tree-based-algorithm/Mini_Project_Tree-Based_Algorithms.html
xgboost/notebooks/1. Introduction/1.2 Getting Rocket Off The Ground.ipynb
xgboost/notebooks/2. Basics/2.3 Using standard interface.ipynb
xgboost/notebooks/3. Going deeper/.ipynb_checkpoints/3.1 Spotting Most Important Features-checkpoint.ipynb
xgboost/notebooks/3. Going deeper/.ipynb_checkpoints/3.2 Bias-variance tradeoff-checkpoint.ipynb
xgboost/notebooks/3. Going deeper/.ipynb_checkpoints/3.3 Hyper-parameter tuning-checkpoint.ipynb
xgboost/notebooks/3. Going deeper/.ipynb_checkpoints/3.4 Evaluate results-checkpoint.ipynb
xgboost/notebooks/3. Going deeper/.ipynb_checkpoints/3.5 Deal with missing values-checkpoint.ipynb
xgboost/notebooks/3. Going deeper/.ipynb_checkpoints/3.6 Handle Imbalanced Datasets-checkpoint.ipynb
xgboost/notebooks/3. Going deeper/3.1 Spotting Most Important Features.ipynb
xgboost/notebooks/3. Going deeper/3.2 Bias-variance tradeoff.ipynb
xgboost/notebooks/3. Going deeper/3.3 Hyper-parameter tuning.ipynb
xgboost/notebooks/3. Going deeper/3.4 Evaluate results.ipynb
xgboost/notebooks/3. Going deeper/3.5 Deal with missing values.ipynb
xgboost/notebooks/3. Going deeper/3.6 Handle Imbalanced Datasets.ipynb
xgboost/notebooks/data/agaricus.txt.test
xgboost/notebooks/data/agaricus.txt.train
xgboost/notebooks/data/featmap.txt
xgboost/notebooks/images/ada-t1.dot
xgboost/notebooks/images/ada-t1.png
xgboost/notebooks/images/bias-variance.png
xgboost/notebooks/images/boosting.png
xgboost/notebooks/images/dt.dot
xgboost/notebooks/images/dt.png
xgboost/notebooks/images/gbc-t1.dot
xgboost/notebooks/images/gbc-t1.png
xgboost/notebooks/2. Basics/2.3 Using standard interface.ipynb
xgboost/notebooks/1. Introduction/1.2 Getting Rocket Off The Ground.ipynb
xgboost/notebooks/images/practical_xgboost_in_python_notebook_header.png
xgboost/notebooks/images/underfitting_overfitting.png
tree-based-algorithm/catboost_info/catboost_training.json
tree-based-algorithm/catboost_info/learn/events.out.tfevents
tree-based-algorithm/catboost_info/learn_error.tsv
tree-based-algorithm/catboost_info/time_left.tsv
tree-based-algorithm/.ipynb_checkpoints/Mini_Project_Tree-Based_Algorithms-checkpoint.ipynb
xgboost/notebooks/1. Introduction/.ipynb_checkpoints/1.2 Getting Rocket Off The Ground-checkpoint.ipynb
xgboost/notebooks/2. Basics/.ipynb_checkpoints/2.1 Boosting - wisdom of the crowd (theory)-checkpoint.ipynb
xgboost/notebooks/2. Basics/.ipynb_checkpoints/2.1.5 Boosting - wisdom of the crowd (practice)-checkpoint.ipynb
xgboost/notebooks/2. Basics/.ipynb_checkpoints/2.3 Using standard interface-checkpoint.ipynb
xgboost/notebooks/2. Basics/.ipynb_checkpoints/2.4 Using Scikit-learn Interface-checkpoint.ipynb
xgboost/notebooks/2. Basics/2.1 Boosting - wisdom of the crowd (theory).ipynb
xgboost/notebooks/2. Basics/2.1.5 Boosting - wisdom of the crowd (practice).ipynb
xgboost/notebooks/2. Basics/2.4 Using Scikit-learn Interface.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/titanic-training-data.csv
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/spambase.data
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/reg_data.xlsx
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/mtcars.csv
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/iris.data.csv
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/groceries.csv
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/Data/enrollment_forecast.csv
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_06_end/06_06_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_06_end/.ipynb_checkpoints/06_06_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_06_begin/06_06_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_06_begin/.ipynb_checkpoints/06_06_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_05_end/06_05_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_05_end/.ipynb_checkpoints/06_05_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_05_begin/06_05_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_05_begin/.ipynb_checkpoints/06_05_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_04_begin/Install Graphviz.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_04_begin/6_04_part1.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_04_begin/06_04_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_04_begin/.ipynb_checkpoints/Install Graphviz-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_04_begin/.ipynb_checkpoints/6_04_part1-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_04_begin/.ipynb_checkpoints/06_04_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_03_end/06_03_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_03_end/.ipynb_checkpoints/06_03_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_03_begin/06_03_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_03_begin/.ipynb_checkpoints/06_03_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_02_end/06_02_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_02_end/.ipynb_checkpoints/06_02_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_02_begin/06_02_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_02_begin/.ipynb_checkpoints/06_02_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_01_end/06_01_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_01_end/.ipynb_checkpoints/06_01_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_01_begin/06_01_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/06_01_begin/.ipynb_checkpoints/06_01_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_02_end/05_02_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_02_end/.ipynb_checkpoints/05_02_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_02_begin/05_02_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_02_begin/.ipynb_checkpoints/05_02_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_01_end/05_01_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_01_end/.ipynb_checkpoints/05_01_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_01_begin/05_01_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/05_01_begin/.ipynb_checkpoints/05_01_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_03_end/04_03_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_03_end/.ipynb_checkpoints/04_03_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_03_begin/04_03_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_03_begin/.ipynb_checkpoints/04_03_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_02_end/04_02_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_02_end/.ipynb_checkpoints/04_02_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_02_begin/04_02_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_02_begin/.ipynb_checkpoints/04_02_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_01_end/04_01_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_01_end/.ipynb_checkpoints/04_01_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_01_begin/04_01_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/04_01_begin/.ipynb_checkpoints/04_01_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_10_end/03_10_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_10_end/.ipynb_checkpoints/03_10_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_10_begin/03_10_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_09_end/03_09_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_09_end/.ipynb_checkpoints/03_09_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_09_begin/03_09_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_08_end/03_08_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_08_end/.ipynb_checkpoints/03_08_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_08_begin/03_08_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_07_end/03_07_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_07_end/.ipynb_checkpoints/03_07_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_07_begin/03_07_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_06_end/03_06_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_06_end/.ipynb_checkpoints/03_06_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_06_begin/03_06_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_05_end/03_05_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_05_end/.ipynb_checkpoints/03_05_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_05_begin/03_05_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_04_end/03_04_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_04_end/.ipynb_checkpoints/03_04_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_04_begin/03_04_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_03_end/03_03_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_03_end/.ipynb_checkpoints/03_03_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_03_begin/03_03_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_03_begin/.ipynb_checkpoints/03_03_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_02_end/03_02_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_02_end/.ipynb_checkpoints/03_02_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_02_begin/Untitled.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_02_begin/03_02_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_02_begin/.ipynb_checkpoints/03_02_begin-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_01_end/03_01_end.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_01_end/.ipynb_checkpoints/03_01_end-checkpoint.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_01_begin/Untitled.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_01_begin/03_01_begin.ipynb
Ex_Files_Python_Data_Science_EssT_Pt2/Exercise Files/03_01_begin/.ipynb_checkpoints/03_01_begin-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_02 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_02-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_03 - 01_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_03 - 01_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_05 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/.ipynb_checkpoints/01_05-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_03/End/.ipynb_checkpoints/01_03 - 01_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_03/End/01_03 - 01_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_03/Start/.ipynb_checkpoints/01_03 - 01_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_03/Start/01_03 - 01_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_04/End/.ipynb_checkpoints/01_03 - 01_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_04/End/01_03 - 01_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_04/Start/01_03 - 01_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_05/End/.ipynb_checkpoints/01_05-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_05/End/01_05.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_05/Start/.ipynb_checkpoints/01_05-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/01_05/Start/01_05.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/clean_data.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/CV_image.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/eval_metrics.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/evaluate_on_validation.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/final_model_selection.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/fit_model.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/hyperparameters.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/split_data.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/train_v_test.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/01_Foundations/img/tune_hyperparameters.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/.ipynb_checkpoints/02_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/.ipynb_checkpoints/02_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_03/End/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_03/End/02_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_03/Start/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_03/Start/02_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_04/End/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_04/End/02_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_04/Start/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/02_04/Start/02_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/img/c.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/img/Cross-Val.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/02_LR/img/CV.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/02_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/02_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/03_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/03_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/03_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/.ipynb_checkpoints/03_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_03/End/.ipynb_checkpoints/03_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_03/End/03_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_03/Start/03_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_04/End/.ipynb_checkpoints/03_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_04/End/03_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_04/Start/.ipynb_checkpoints/03_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/03_04/Start/03_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/img/c.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/img/Cross-Val.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/03_SVM/img/CV.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/02_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/02_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/03_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/03_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/03_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/03_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/04_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/04_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/04_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/.ipynb_checkpoints/04_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_03/End/.ipynb_checkpoints/04_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_03/End/04_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_03/Start/04_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_04/End/.ipynb_checkpoints/04_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_04/End/04_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_04/Start/.ipynb_checkpoints/04_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/04_04/Start/04_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/04_MLP/img/hidden_layers.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/02_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/02_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/03_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/03_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/03_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/03_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/04_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/04_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/04_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/05_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/05_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/05_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/.ipynb_checkpoints/05_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_03/End/.ipynb_checkpoints/05_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_03/End/05_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_03/Start/05_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_04/End/.ipynb_checkpoints/05_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_04/End/05_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_04/Start/.ipynb_checkpoints/05_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/05_04/Start/05_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/05_RF/img/rf.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/02_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/02_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/02_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/02_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/03_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/03_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/03_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/03_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/04_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/04_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/04_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/05_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/05_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/05_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/05_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/06_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/06_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/06_04 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/.ipynb_checkpoints/06_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_03/End/.ipynb_checkpoints/06_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_03/End/06_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_03/Start/06_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_04/End/.ipynb_checkpoints/06_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_04/End/06_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_04/Start/.ipynb_checkpoints/06_04-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/06_04/Start/06_04.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/img/gb.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/06_Boosting/img/lr.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/.ipynb_checkpoints/07_03 - COMPLETED-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/.ipynb_checkpoints/07_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/07_03/End/.ipynb_checkpoints/07_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/07_03/End/07_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/07_03/Start/.ipynb_checkpoints/07_03-checkpoint.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/07_03/Start/07_03.ipynb
Ex_Files_Machine_Learning_Algorithms/Exercise Files/07_Summary/img/eval_metrics.png
Ex_Files_Machine_Learning_Algorithms/Exercise Files/GB_model.pkl
Ex_Files_Machine_Learning_Algorithms/Exercise Files/LR_model.pkl
Ex_Files_Machine_Learning_Algorithms/Exercise Files/MLP_model.pkl
Ex_Files_Machine_Learning_Algorithms/Exercise Files/RF_model.pkl
Ex_Files_Machine_Learning_Algorithms/Exercise Files/SVM_model.pkl
Ex_Files_Machine_Learning_Algorithms/Exercise Files/test_features.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/test_labels.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/titanic.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/titanic_cleaned.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/train_features.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/train_labels.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/val_features.csv
Ex_Files_Machine_Learning_Algorithms/Exercise Files/val_labels.csv
anomaly-detection/credit_card.csv
recommendation-system/tmdb_5000_credits.csv
recommendation-system/tmdb_5000_movies.csv
recommendation-system/data/combined_data.csv
recommendation-system/data/movie_titles.csv
recommendation-system/data/movies_metadata.csv
